@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --color-text-primary--rgb: 0, 0, 0;
  --color-text-primary: #000;
  --color-text-secondary--rgb: 255, 255, 255;
  --color-text-secondary: #fff;
  --color-bg-primary--rgb: 255, 255, 255;
  --color-bg-primary: #fff;
  --color-bg-secondary--rgb: 0, 0, 0;
  --color-bg-secondary: #000;
  --color-button--rgb: 0, 0, 0;
  --color-button: transparent;
}

html {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  height: unset !important;
  /* width */
  /* Track */
  /* Handle */
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--color-text-primary);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-text-primary);
}
body._lock, body._lock__pop {
  overflow: hidden;
}

._container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  ._container {
    max-width: 60.375rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  ._container {
    max-width: 88.888%;
  }
}
@media (max-width: 899px) {
  ._container {
    max-width: 88.888%;
  }
}

.custom-logo-link {
  display: block;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 900px) {
  .custom-logo-link {
    max-width: 12.625rem;
  }
}
@media (max-width: 899px) {
  .custom-logo-link {
    max-width: 7.9375rem;
  }
}
.custom-logo-link svg {
  width: 100%;
  height: auto;
}

input {
  border: unset;
  border-bottom: 1px solid var(--color-text-primary);
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
  background-color: transparent;
  padding: unset;
  padding-bottom: 4px;
}
input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
input::placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}

form div {
  color: inherit;
  margin-bottom: 1.875rem;
}
form div:last-child {
  margin-bottom: 0;
}
form div span {
  font-size: 1.125rem;
  line-height: 140%;
  display: block;
  margin-bottom: 4px;
}
form div strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.625rem;
  color: var(--color-button);
}
form div strong::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.3125rem;
          flex: 0 0 0.3125rem;
  height: 5px;
  margin-right: 0.25rem;
  background-image: url(../assets/img/label-incorrect-input.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
form div input,
form div textarea {
  width: 100%;
}
form input {
  border: unset;
  border-bottom: 1px solid var(--color-text-primary);
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
  background-color: transparent;
  padding: unset;
  padding-bottom: 4px;
}
form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form input::placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form textarea {
  border: unset;
  border-bottom: 1px solid var(--color-text-primary);
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
  background-color: transparent;
  padding: unset;
  padding-bottom: 4px;
  height: 5.4375rem;
  border: 1px solid var(--color-text-primary);
  border-radius: 0.5rem;
  padding: 0.625rem;
}
form textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form textarea::placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: inherit;
}
form textarea::-webkit-input-placeholder {
  font-size: 0;
}
form textarea::-moz-placeholder {
  font-size: 0;
}
form textarea:-ms-input-placeholder {
  font-size: 0;
}
form textarea::-ms-input-placeholder {
  font-size: 0;
}
form textarea::placeholder {
  font-size: 0;
}
form button[type=submit],
form input[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 2.5rem;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  font-size: 1.125rem;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem 1.875rem;
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
}
form button[type=submit]._white,
form input[type=submit]._white {
  border-color: var(--color-text-secondary);
  color: var(--color-text-secondary);
}
form button[type=submit]._white:hover, form button[type=submit]._white:focus-visible,
form input[type=submit]._white:hover,
form input[type=submit]._white:focus-visible {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);
}
form button[type=submit]._black,
form input[type=submit]._black {
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
}
form button[type=submit]._black:hover, form button[type=submit]._black:focus-visible,
form input[type=submit]._black:hover,
form input[type=submit]._black:focus-visible {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}
form button[type=submit]._white,
form input[type=submit]._white {
  border-color: var(--color-text-secondary);
  color: var(--color-text-secondary);
}
form button[type=submit]._white:hover, form button[type=submit]._white:focus-visible,
form input[type=submit]._white:hover,
form input[type=submit]._white:focus-visible {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);
}
form button[type=submit]._black,
form input[type=submit]._black {
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
}
form button[type=submit]._black:hover, form button[type=submit]._black:focus-visible,
form input[type=submit]._black:hover,
form input[type=submit]._black:focus-visible {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}
form button[type=submit]:hover, form button[type=submit]:focus-visible,
form input[type=submit]:hover,
form input[type=submit]:focus-visible {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}

._btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 2.5rem;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  font-size: 1.125rem;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem 1.875rem;
}
._btn._white {
  border-color: var(--color-text-secondary);
  color: var(--color-text-secondary);
}
._btn._white:hover, ._btn._white:focus-visible {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);
}
._btn._black {
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
}
._btn._black:hover, ._btn._black:focus-visible {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}

.button-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  background-color: transparent;
  position: relative;
  z-index: 0;
  border: 0;
  border-radius: 0;
  padding: 0.4375rem 0.5625rem;
}
.button-svg._white {
  border-color: var(--color-text-secondary);
  color: var(--color-text-secondary);
}
.button-svg._white:hover, .button-svg._white:focus-visible {
  background-color: var(--color-text-secondary);
  color: var(--color-text-primary);
}
.button-svg._black {
  border-color: var(--color-text-primary);
  color: var(--color-text-primary);
}
.button-svg._black:hover, .button-svg._black:focus-visible {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}
.button-svg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 3.079375rem;
  height: 1.5625rem;
  -webkit-transform: translate(-12px, -9px);
          transform: translate(-12px, -9px);
  background-image: url(../assets/img/flag.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}
.button-svg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  border: 2px solid transparent;
  background-color: transparent;
}
.button-svg:hover::after {
  z-index: 0;
}

.button-svg svg {
  position: relative;
  z-index: 2;
  max-width: 3.75rem;
  width: 100%;
  height: auto;
}
.button-svg svg path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.button-svg._white::after {
  border-color: var(--color-text-secondary);
}
.button-svg._white svg path {
  fill: var(--color-text-secondary);
}
.button-svg._white:hover svg path {
  fill: var(--color-text-primary);
}

.button-svg._white:focus-visible svg path {
  fill: var(--color-text-primary);
}

.button-svg._black::after {
  border-color: var(--color-text-primary);
}
.button-svg._black svg path {
  fill: var(--color-text-primary);
}
.button-svg._black:hover svg path {
  fill: var(--color-text-secondary);
}

.button-svg._black:focus-visible svg path {
  fill: var(--color-text-secondary);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  section._mobile {
    padding: 5rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  section._mobile {
    padding: 4.0625rem 0;
  }
}
@media (max-width: 899px) {
  section._mobile {
    padding: 3.125rem 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
}
@media (min-width: 900px) {
  .header {
    padding: 2.21875rem 0 0;
  }
}
@media (max-width: 899px) {
  .header {
    padding: 1.25rem 0 3.125rem;
  }
}
.header._black {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
.header._black .header__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.header._black .menu__lang.menu__lang__mob {
  color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
}
.header._black .menu__lang .lang-item-current svg path {
  fill: var(--color-text-primary);
}
.header._black .menu-burger span, .header._black .menu-burger::before, .header._black .menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-text-primary);
}
.header._black .menu {
  background-color: var(--color-bg-secondary);
}
.header._black .menu-list {
  color: var(--color-text-secondary);
}
@media (min-width: 1200px) {
  .header._black .menu-list {
    background-color: var(--color-bg-secondary);
  }
}
.header._black .menu-list__item::before {
  background-color: var(--color-text-secondary);
}
.header._white {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
}
.header._white .header__logo {
  -webkit-filter: invert(0);
          filter: invert(0);
}
.header._white .menu__lang.menu__lang__mob {
  color: var(--color-text-primary);
  border-color: var(--color-text-primary);
}
.header._white .menu__lang .lang-item-current svg path {
  fill: var(--color-text-secondary);
}
.header._white .menu-burger span, .header._white .menu-burger::before, .header._white .menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-text-secondary);
}
.header._white .menu {
  background-color: var(--color-bg-primary);
}
.header._white .menu-list {
  color: var(--color-text-primary);
}
@media (min-width: 1200px) {
  .header._white .menu-list {
    background-color: var(--color-bg-primary);
  }
}
.header._white .menu-list__item::before {
  background-color: var(--color-text-primary);
}
.header__container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 72.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .header__container {
    max-width: 90%;
  }
}
@media (max-width: 899px) {
  .header__container {
    max-width: 94.444%;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 900px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.625rem;
            flex: 0 0 12.625rem;
  }
}
@media (max-width: 899px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.9375rem;
            flex: 0 0 7.9375rem;
  }
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 1200px) {
  .header__btns {
    position: relative;
  }
}
@media (min-width: 900px) {
  .header__btns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.625rem;
            flex: 0 0 12.625rem;
  }
}
@media (max-width: 899px) {
  .header__btns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.9375rem;
            flex: 0 0 7.9375rem;
  }
}

.donate {
  width: 100%;
}
@media (min-width: 900px) {
  .donate {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5.4375rem;
            flex: 0 0 5.4375rem;
  }
}
@media (max-width: 899px) {
  .donate {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 5.4375rem;
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }
}

@media (min-width: 900px) {
  .menu__lang {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5625rem;
            flex: 0 0 1.5625rem;
    margin-right: 2.09375rem;
  }
}
@media (max-width: 899px) {
  .menu__lang.menu__lang__desk {
    display: none;
  }
}
@media (min-width: 900px) {
  .menu__lang.menu__lang__mob {
    display: none;
  }
}
@media (max-width: 899px) {
  .menu__lang.menu__lang__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid transparent;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }
}
@media (min-width: 900px) {
  .menu__lang ul {
    position: absolute;
    top: 100%;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .menu__lang:hover ul {
    visibility: visible;
    opacity: 1;
  }
}
.menu__lang li {
  text-transform: uppercase;
}
@media (min-width: 900px) {
  .menu__lang li {
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 899px) {
  .menu__lang li {
    margin-right: 1rem;
  }
  .menu__lang li:last-child {
    margin-right: 0;
  }
}
.menu__lang a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: inherit;
}
.menu__lang .lang-item {
  padding-bottom: 2px;
}
.menu__lang .lang-item:last-child {
  padding-bottom: 0;
}
@media (min-width: 900px) {
  .menu__lang .lang-item-current {
    position: relative;
  }
}
@media (min-width: 900px) {
  .menu__lang .lang-item-current svg {
    position: absolute;
    right: -5px;
    top: 45%;
    width: 4px;
    height: 4px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
@media (max-width: 899px) {
  .menu__lang .lang-item-current svg {
    display: none;
  }
}
.menu__lang:hover svg {
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.menu__lang .lang-item-current svg path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease;
  pointer-events: none;
  background-color: var(--color-bg-primary);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu._active {
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .menu {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: auto;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 900px) and (max-width: 1199px) and (max-height: 387px) {
  .menu {
    padding-top: 6.25rem;
  }
}
@media (max-width: 899px) {
  .menu {
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: auto;
    padding-right: 2.778%;
    padding-left: 2.778%;
  }
}
@media (max-width: 899px) and (max-height: 387px) {
  .menu {
    padding-top: 6.25rem;
  }
}
.menu-burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  position: relative;
  z-index: 3;
  height: 1.25rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}
.menu-burger._active {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
@media (max-width: 1199px) {
  .menu-burger._active {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
.menu-burger span, .menu-burger::before, .menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--color-text-primary);
}
.menu-burger span {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
.menu-burger:hover span {
  -webkit-transform: translate(0, -50%) scaleX(0.7);
          transform: translate(0, -50%) scaleX(0.7);
}

.menu-burger::before {
  top: 0;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
._active::before {
  -webkit-transform: translateY(200%) rotate(-90deg);
          transform: translateY(200%) rotate(-90deg);
}

.menu-burger::after {
  bottom: 0;
  -webkit-transition: opacity 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease;
}
._active::after {
  opacity: 0;
}

.menu-list {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease, -webkit-transform 0.3s ease;
  text-align: right;
}
._active .menu-list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 1200px) {
  .menu-list {
    position: absolute;
    top: 2.5rem;
    right: 0;
    min-width: 11.25rem;
    border-radius: 0.625rem;
    padding: 0.625rem;
    background-color: var(--color-bg-primary);
  }
}
.menu-list li:last-child {
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .menu-list li {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 899px) {
  .menu-list li {
    margin-bottom: 1.25rem;
  }
}
.menu-list__item {
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: inherit;
}
.menu-list__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.5px;
  -webkit-transition: width 0.3s ease, color 0.3s ease;
  transition: width 0.3s ease, color 0.3s ease;
  background-color: var(--color-text-primary);
}
.menu-list__item:hover::before {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
.footer._black {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.footer__container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .footer__container {
    max-width: 72.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer__container {
    max-width: 58.21%;
  }
}
.footer__bg {
  width: 100%;
}
.footer__bg img, .footer__bg source {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 899px) {
  .footer__bg img, .footer__bg source {
    top: 0;
    bottom: unset;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
}
@media (max-width: 899px) and (max-width: 355px) {
  .footer__bg img, .footer__bg source {
    top: unset;
    bottom: 0;
  }
}
.footer__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .footer__wrapper {
    max-width: 77.31%;
    padding: 2.25rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer__wrapper {
    max-width: 77.31%;
    padding: 2.25rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) and (max-width: 1145px) {
  .footer__wrapper {
    padding: 1.875rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) and (max-width: 1020px) {
  .footer__wrapper {
    padding: 1.5rem 0;
  }
}
@media (max-width: 899px) {
  .footer__wrapper {
    max-width: 88.888%;
    padding: 1.0625rem 0;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-list__item svg {
  width: 100%;
  height: auto;
}
.footer-list__item.item-1 {
  max-width: 11.75rem;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer-list__item.item-1 {
    max-width: 8.25rem;
  }
}
@media (max-width: 899px) {
  .footer-list__item.item-1 {
    max-width: 4.75rem;
  }
}
.footer-list__item.item-2 {
  max-width: 3.3125rem;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer-list__item.item-2 {
    max-width: 2.34375rem;
  }
}
@media (max-width: 899px) {
  .footer-list__item.item-2 {
    max-width: 1.375rem;
  }
}
.footer-list__item.item-3 {
  max-width: 3.8125rem;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer-list__item.item-3 {
    max-width: 2.6875rem;
  }
}
@media (max-width: 899px) {
  .footer-list__item.item-3 {
    max-width: 1.5625rem;
  }
}
.footer-list__item.item-4 {
  max-width: 3.5625rem;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer-list__item.item-4 {
    max-width: 2.46875rem;
  }
}
@media (max-width: 899px) {
  .footer-list__item.item-4 {
    max-width: 1.375rem;
  }
}
.footer-list__item.item-5 {
  max-width: 7rem;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .footer-list__item.item-5 {
    max-width: 4.90625rem;
  }
}
@media (max-width: 899px) {
  .footer-list__item.item-5 {
    max-width: 2.8125rem;
  }
}
._black .footer-list__item .blue {
  -webkit-transition: -webkit-filter 0s linear;
  transition: -webkit-filter 0s linear;
  transition: filter 0s linear;
  transition: filter 0s linear, -webkit-filter 0s linear;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer-list__item .yellow {
  -webkit-transition: -webkit-filter 0s linear;
  transition: -webkit-filter 0s linear;
  transition: filter 0s linear;
  transition: filter 0s linear, -webkit-filter 0s linear;
}
._black .footer-list__item .yellow {
  -webkit-transition: -webkit-filter 0s linear;
  transition: -webkit-filter 0s linear;
  transition: filter 0s linear;
  transition: filter 0s linear, -webkit-filter 0s linear;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.white {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.black {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
}

.popup {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
}
.popup._open {
  top: 0;
}
@media (min-width: 900px) {
  .popup.popup-about .popup__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.popup.popup-about .popup__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
@media (min-width: 900px) {
  .popup.popup-about .popup__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32.11%;
            flex: 0 0 32.11%;
  }
}
@media (max-width: 899px) {
  .popup.popup-about .popup__img {
    max-width: 50%;
    width: 100%;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 899px) and (max-width: 550px) {
  .popup.popup-about .popup__img {
    max-width: 80%;
  }
}
@media (max-width: 899px) {
  .popup.popup-about .popup__img._desk {
    display: none;
  }
}
@media (min-width: 900px) {
  .popup.popup-about .popup__img._mob {
    display: none;
  }
}
.popup.popup-about .popup__img__container {
  padding-top: 117.14%;
}
.popup.popup-about .popup__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup.popup-about .popup__content {
  font-size: 1.125rem;
  line-height: 140%;
}
@media (min-width: 900px) {
  .popup.popup-about .popup__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62.75%;
            flex: 0 0 62.75%;
  }
}
.popup.popup-about .popup__content p {
  margin-bottom: 1.5625rem;
}
.popup.popup-about .popup__content p:last-child {
  margin-bottom: 0;
}
.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.3s;
  transition: opacity 0.3s ease 0.3s;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(var(--color-bg-primary--rgb), 0.5);
}
.popup._open::before {
  opacity: 1;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  border: 1px solid var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
@media (min-width: 1200px) {
  .popup__container {
    max-width: 72.75rem;
    height: 66.4vh;
    -webkit-transform: translate(-50%, -57%);
            transform: translate(-50%, -57%);
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .popup__container {
    max-width: 90%;
    height: 76.56vh;
    -webkit-transform: translate(-50%, -52%);
            transform: translate(-50%, -52%);
  }
}
@media (max-width: 899px) {
  .popup__container {
    max-width: 94.444%;
    height: 76.56vh;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.popup__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .popup__wrapper {
    padding: 3.125rem 1.5625rem 3.125rem 3.125rem;
  }
}
@media (max-width: 1199px) {
  .popup__wrapper {
    padding: 1.875rem 1.125rem 1.875rem 1.875rem;
  }
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (min-width: 1200px) {
  .popup__close {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .popup__close:hover {
    -webkit-transform: translate(50%, -50%) rotate(90deg);
            transform: translate(50%, -50%) rotate(90deg);
  }
}
@media (max-width: 1199px) {
  .popup__close {
    -webkit-transform: translate(-40%, 16%);
            transform: translate(-40%, 16%);
  }
}
.popup__close svg {
  width: 100%;
  height: auto;
}
.popup__content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: clip;
  /* width */
  /* Track */
  /* Handle */
}
.popup__content::-webkit-scrollbar {
  width: 0.5rem;
}
.popup__content::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--color-text-primary);
  border-radius: 0.625rem;
}
.popup__content::-webkit-scrollbar-thumb {
  background-color: var(--color-text-primary);
  border-radius: 0.625rem;
}
@media (min-width: 1200px) {
  .popup__content {
    padding-right: 2.5rem;
  }
}
@media (max-width: 1199px) {
  .popup__content {
    padding-right: 2.125rem;
  }
}
.popup__content .works-artist-info__img {
  max-width: 5rem;
  overflow: unset;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  margin-bottom: 1.25rem;
}
.popup__content .works-artist-info__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
  border-radius: 50%;
  background-color: var(--color-text-primary);
}
.popup__content .works-artist-info__img__container {
  overflow: hidden;
}
.popup__content .works-artist-info__title {
  margin-bottom: 0.625rem;
}
.popup__content .works-artist-info__position {
  margin-bottom: 1.25rem;
}
.popup__content .works-artist-info__description {
  margin-bottom: 1.875rem;
}
.banner {
  height: 100vh;
}
.banner__title__container {
  overflow: visible;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .banner__title__container {
    max-width: 74.637%;
    padding-bottom: 6.4375rem;
  }
}
@media (min-width: 900px) {
  .banner__title__container {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 899px) {
  .banner__title__container {
    max-width: 84.16%;
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 900px) {
  .banner__title__container.banner__title__mob {
    display: none;
  }
}
@media (max-width: 899px) {
  .banner__title__container.banner__title__desk {
    display: none;
  }
}
.banner__title__container svg {
  width: 100%;
  height: auto;
}
.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 900px) {
  .banner__content {
    max-width: 69.15%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
}
@media (max-width: 899px) {
  .banner__content {
    max-width: 63.636%;
    margin: 0 10% 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 900px) {
  .banner__content__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}
@media (max-width: 899px) {
  .banner__content__right {
    margin-bottom: 2.5rem;
  }
}
.about__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
@media (min-width: 1200px) {
  .about__title {
    font-size: 4.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .about__title {
    font-size: 3.3125rem;
  }
}
@media (max-width: 899px) {
  .about__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 900px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.about__img {
  position: relative;
}
@media (min-width: 900px) {
  .about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.46%;
            flex: 0 0 31.46%;
  }
}
@media (max-width: 899px) {
  .about__img {
    max-width: 13.8125rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 899px) and (max-width: 520px) {
  .about__img {
    max-width: 69%;
  }
}
.about__img__container {
  padding-top: 107.23%;
}
.about__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 900px) {
  .about__text__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.44%;
            flex: 0 0 48.44%;
    margin-top: 1.75rem;
  }
}
@media (max-width: 899px) {
  .about__text__content {
    margin-top: 1.25rem;
  }
}
.about__text__block {
  line-height: 140%;
}
@media (min-width: 1200px) {
  .about__text__block {
    font-size: 1.5rem;
  }
}
@media (max-width: 1199px) {
  .about__text__block {
    font-size: 0.875rem;
  }
}
@media (min-width: 900px) {
  .about__btn {
    margin-top: 1.875rem;
  }
}
@media (max-width: 899px) {
  .about__btn {
    display: none;
  }
}

.works__wrapper {
  position: relative;
}
@media (min-width: 1200px) {
  .works__want__btn__container {
    display: none;
  }
}
@media (max-width: 1199px) {
  .works__want__btn__container {
    max-width: 10.625rem;
    margin: 1.875rem auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .works__btn.works__btn__desk {
    max-width: 10.3125rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 899px) {
  .works__btn.works__btn__desk {
    display: none;
  }
}
.works__btn.works__btn__mob {
  width: 100%;
}
@media (min-width: 1200px) {
  .works__btn.works__btn__mob {
    display: none;
  }
}
@media (min-width: 900px) {
  .works__title__container {
    margin-bottom: 3.5625rem;
  }
}
@media (max-width: 899px) {
  .works__title__container {
    margin-bottom: 1.25rem;
  }
}
.works__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .works__title {
    font-size: 4.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .works__title {
    font-size: 3.3125rem;
  }
}
@media (max-width: 899px) {
  .works__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 900px) {
  .works__subtitle {
    line-height: 140%;
    font-weight: 700;
  }
}
@media (min-width: 900px) and (min-width: 1200px) {
  .works__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .works__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 899px) {
  .works__subtitle {
    display: none;
  }
}
.works__img {
  position: relative;
  width: 100%;
}
@media (min-width: 1200px) {
  .works__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.447%;
            flex: 0 0 48.447%;
  }
}
@media (max-width: 1199px) {
  .works__img {
    max-width: 13.8125rem;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) and (max-width: 520px) {
  .works__img {
    max-width: 69%;
  }
}
.works__img__container {
  padding-top: 122%;
}
.works__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__btns__container .swiper-button-next,
.works__btns__container .swiper-button-prev {
  left: unset;
  right: unset;
  z-index: 2;
  width: 100%;
  height: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  margin-top: unset;
  color: inherit;
}
.works__btns__container .swiper-button-next::after,
.works__btns__container .swiper-button-prev::after {
  display: none;
}
@media (min-width: 900px) {
  .works__btns__container .swiper-button-next,
.works__btns__container .swiper-button-prev {
    max-width: 5rem;
  }
}
@media (max-width: 899px) {
  .works__btns__container .swiper-button-next,
.works__btns__container .swiper-button-prev {
    max-width: 1.875rem;
  }
}
.works__btns__container .swiper-button-prev {
  left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}
@media (min-width: 1200px) {
  .works__btns__container .swiper-button-prev {
    -webkit-transform: translate(-150%, -50%);
            transform: translate(-150%, -50%);
  }
}
@media (max-width: 1199px) {
  .works__btns__container .swiper-button-prev {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 899px) {
  .works__btns__container .swiper-button-prev {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
}
.works__btns__container .swiper-button-next {
  right: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
@media (min-width: 1200px) {
  .works__btns__container .swiper-button-next {
    -webkit-transform: translate(150%, -50%);
            transform: translate(150%, -50%);
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .works__btns__container .swiper-button-next {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}
@media (max-width: 899px) {
  .works__btns__container .swiper-button-next {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
}
.works__btns__container .button-text {
  line-height: 140%;
  font-size: 0.625rem;
}
@media (max-width: 899px) {
  .works__btns__container .arrow-desk {
    display: none;
  }
}
.works__btns__container .arrow-desk svg {
  width: 100%;
  height: auto;
}
.works__btns__container .arrow-mob {
  height: 0.5rem;
}
@media (min-width: 900px) {
  .works__btns__container .arrow-mob {
    display: none;
  }
}
.works__btns__container .arrow-mob svg {
  height: 100%;
  width: auto;
}
.works__btns__container .button-artist {
  line-height: 140%;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 899px) {
  .works__btns__container .button-artist {
    display: none;
  }
}
.works__btns__container .button-artist__img {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}
@media (max-width: 899px) {
  .works__btns__container .button-artist__img {
    display: none;
  }
}
.works__btns__container .button-artist__img__container {
  padding-top: 100%;
}
.works__btns__container .button-artist__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  .works-open-popup {
    display: none;
  }
}
@media (max-width: 1199px) {
  .works-open-popup {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 5rem;
    width: 100%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    cursor: pointer;
  }
  .works-open-popup::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
    -webkit-transition: prop time;
    transition: prop time;
    background-color: var(--color-text-primary);
    border-radius: 50%;
  }
}
.works-open-popup__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.works-open-popup__img__container {
  padding-top: 100%;
}
.works-open-popup__label {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 50%;
  background-color: var(--color-text-primary);
}
.works-open-popup:hover .works-open-popup__label {
  -webkit-transform: translate(-50%, 5%) scale(1.2);
          transform: translate(-50%, 5%) scale(1.2);
}

.works-open-popup__label svg {
  width: 2px;
  height: auto;
}

@media (min-width: 1200px) {
  .works-swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.works-swiper .works-swiper__counter {
  position: absolute;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .works-swiper .works-swiper__counter {
    font-size: 1.125rem;
    line-height: 140%;
    right: 0;
  }
}
@media (max-width: 1199px) {
  .works-swiper .works-swiper__counter {
    line-height: 140%;
    font-size: 0.875rem;
    left: 0;
  }
}
.works-swiper .works-swiper__counter .current {
  margin-right: 0.125rem;
}
.works-swiper .works-swiper__counter .all {
  margin-left: 0.125rem;
}

.works-artist-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.447%;
          flex: 0 0 48.447%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1199px) {
  .works-artist-info.works-artist-info__desk {
    display: none;
  }
}
.works-artist-info__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(11.25rem + 2.5rem);
          flex: 0 0 calc(11.25rem + 2.5rem);
  border-right: 1px solid var(--color-text-primary);
  margin-right: 2.5rem;
  padding-right: 2.5rem;
}
.works-artist-info__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13rem;
          flex: 0 0 13rem;
}
.works-artist-info__img {
  position: relative;
  max-width: 6.25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.works-artist-info__img__container {
  padding-top: 100%;
}
.works-artist-info__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-artist-info__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .works-artist-info__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .works-artist-info__title {
    font-size: 1.34375rem;
  }
}
@media (max-width: 899px) {
  .works-artist-info__title {
    font-size: 1.1875rem;
  }
}
.works-artist-info__position {
  font-size: 1.125rem;
  line-height: 140%;
}
.works-artist-info__description {
  line-height: 140%;
  font-size: 0.875rem;
}
.works-artist-info__art__description {
  font-size: 1.125rem;
  line-height: 140%;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.horizontal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 900px) {
  .horizontal__wrapper {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 0.3125rem;
  }
}
@media (max-width: 899px) {
  .horizontal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0.625rem;
  }
}
.horizontal__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .horizontal__title {
    font-size: 4.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .horizontal__title {
    font-size: 3.3125rem;
  }
}
@media (max-width: 899px) {
  .horizontal__title {
    font-size: 1.875rem;
  }
}

.date {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 899px) {
  .date {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.date__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3125rem;
}
.date__title svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.375rem;
          flex: 0 0 0.375rem;
  width: 100%;
  margin-left: 0.5625rem;
}

.date-list {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-box-shadow: 0px 8.26788px 33.0715px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8.26788px 33.0715px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 0.84375rem 0.625rem 0.625rem;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
}
.date-list__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 0.84375rem;
}
.date-list__year .minus,
.date-list__year .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.date-list__year .minus svg,
.date-list__year .plus svg {
  max-width: 1.125rem;
  width: 100%;
  height: auto;
}
.date-list__year .year {
  max-width: 2.625rem;
  padding-bottom: unset;
}
.date-list__months {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.3125rem;
  border-top: 1px solid var(--color-text-secondary);
  padding-top: 0.625rem;
}
.date-list__months li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.date-list__months__item {
  line-height: 140%;
  font-size: 0.875rem;
  text-align: center;
  color: inherit;
}

.horizontal-list {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .horizontal-list {
    max-width: 85.35%;
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 1200px) and (min-width: 1366px) {
  .horizontal-list {
    max-width: 72.875rem;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .horizontal-list {
    max-width: 88.888%;
    margin: 0 auto;
  }
}
.horizontal-list__wrapper {
  width: 100%;
  overflow-x: auto;
  /* width */
  /* Track */
  /* Handle */
}
.horizontal-list__wrapper::-webkit-scrollbar {
  height: 0.5rem;
}
.horizontal-list__wrapper::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--color-text-primary);
  border-radius: 0.625rem;
}
.horizontal-list__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-text-primary);
  border-radius: 0.625rem;
}
.horizontal-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 900px) {
  .horizontal-list-content {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 899px) {
  .horizontal-list-content {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    margin-bottom: 1.5625rem;
  }
}
.horizontal-list-content li {
  width: 100%;
}
@media (min-width: 900px) {
  .horizontal-list-content li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.25rem;
            flex: 0 0 29.25rem;
  }
}
@media (max-width: 899px) {
  .horizontal-list-content li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44.444%;
            flex: 0 0 44.444%;
  }
}
@media (max-width: 899px) and (max-width: 550px) {
  .horizontal-list-content li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 88.888%;
            flex: 0 0 88.888%;
  }
}
.horizontal-list-content__item {
  width: 100%;
  color: inherit;
}
.horizontal-list-content__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 900px) {
  .horizontal-list-content__img__container {
    padding-top: 51.282%;
  }
}
@media (max-width: 899px) {
  .horizontal-list-content__img__container {
    padding-top: 54.375%;
  }
}
.horizontal-list-content__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.horizontal-list-content__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .horizontal-list-content__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .horizontal-list-content__title {
    font-size: 1.34375rem;
  }
}
@media (max-width: 899px) {
  .horizontal-list-content__title {
    font-size: 1.1875rem;
  }
}
.horizontal-list-content__text__block {
  margin-bottom: 1rem;
}
@media (min-width: 900px) {
  .horizontal-list-content__text__block {
    font-size: 1.125rem;
    line-height: 140%;
  }
}
@media (max-width: 899px) {
  .horizontal-list-content__text__block {
    line-height: 140%;
    font-size: 0.875rem;
  }
}
.horizontal-list-content__more {
  font-size: 1.125rem;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.horizontal-list-content__more p {
  margin-right: 0.5625rem;
}
.horizontal-list-content__more svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.625rem;
          flex: 0 0 3.625rem;
  height: auto;
}
.horizontal-list-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 900px) {
  .horizontal-list-timeline {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 899px) {
  .horizontal-list-timeline {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.horizontal-list-timeline li {
  width: 100%;
}
@media (min-width: 900px) {
  .horizontal-list-timeline li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.25rem;
            flex: 0 0 29.25rem;
  }
}
@media (max-width: 899px) {
  .horizontal-list-timeline li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44.444%;
            flex: 0 0 44.444%;
  }
}
@media (max-width: 899px) and (max-width: 550px) {
  .horizontal-list-timeline li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 88.888%;
            flex: 0 0 88.888%;
  }
}
.horizontal-list-timeline__item {
  width: 100%;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.01875rem;
  color: inherit;
}

@media (min-width: 900px) {
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .contacts__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.44%;
            flex: 0 0 48.44%;
  }
}
@media (max-width: 899px) {
  .contacts__left {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 900px) {
  .contacts__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38.09%;
            flex: 0 0 38.09%;
  }
}
.contacts__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .contacts__title {
    font-size: 4.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .contacts__title {
    font-size: 3.3125rem;
  }
}
@media (max-width: 899px) {
  .contacts__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 900px) {
  .contacts__title {
    margin-bottom: 0.3125rem;
  }
}
@media (max-width: 899px) {
  .contacts__title {
    margin-bottom: 1.25rem;
  }
}
.contacts__title__form {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .contacts__title__form {
    font-size: 2.25rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .contacts__title__form {
    font-size: 1.75rem;
  }
}
@media (max-width: 899px) {
  .contacts__title__form {
    font-size: 1.25rem;
  }
}
@media (min-width: 900px) {
  .contacts__title__form {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 899px) {
  .contacts__title__form {
    margin-bottom: 2.25rem;
  }
}
.contacts__map {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 900px) {
  .contacts__map__container {
    padding-top: 81.196%;
  }
}
@media (max-width: 899px) {
  .contacts__map__container {
    padding-top: 56.25%;
  }
}
.contacts__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacts__copyrights {
  line-height: 140%;
  font-size: 0.625rem;
  max-width: 17.125rem;
}
.contacts__copyrights p, .contacts__copyrights a {
  color: inherit;
}
.contacts__copyrights a:hover {
  text-decoration: underline;
}

.contacts-sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-sponsors li:nth-child(1) {
  max-width: 23.75%;
}
.contacts-sponsors li:nth-child(2) {
  max-width: 6.875%;
}
.contacts-sponsors li:nth-child(3) {
  max-width: 7.81%;
}
.contacts-sponsors li:nth-child(4) {
  max-width: 6.875%;
}
.contacts-sponsors li:nth-child(5) {
  max-width: 14.062%;
}
.contacts-sponsors li:nth-child(6) {
  max-width: 9.687%;
}
.contacts-sponsors .contacts-sponsors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts-sponsors .contacts-sponsors__item svg {
  width: 100%;
  height: auto;
}
.contacts-form {
  margin-bottom: 1.25rem;
  color: var(--color-text-primary);
}